{% extends 'base.html' %}

{% block body %}
<div class="row justify-content-between align-items-center" id="row">
    <div class="col-lg-5 mb-7 mb-lg-0">
        <h1 id="heading">User Friendly Portal For Data Visualisation</h1>
    </div>
    <div class="col-lg-6">
        <div><img src="/static/charts_image.png" class="img-fluid" alt="..."></div>
    </div>
    </div>
    <div class="container mw-screen-xl">
        <div id="jumbo">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="ls-tight fw-bolder display-4 mb-5 text-white">Ready to get started?</h1>
                    <p class="lead text-white opacity-8 mb-10">"Unleashing Insights, Empowering Decisions: Your Gateway to Intuitive Data Visualization".<br> Don't worry if you are not a Coder.</p>
                    <div class="mx-n2"><a  id="btn" href="/fileupload" class="btn btn-lg btn-white mx-2 px-lg-8">Get started</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}